


<!-- <section id="footer">
        <div class="contact-me">
            <h2 id="git">Get In Touch.</h2>
            <h3>If you need expertise on pethood. </h3>
            <h3>For any @stray needs, don't hesitate to contact me!</h3>
            <a class="btn contact" href="mailto:nileshtelang07n5@gmail.com">CONTACT ME</a>
        </div>

        <div class="bottom-container">
            <a class="footer-link" href="https://www.linkedin.com/in/nilesh-telang-%C4%B8%D1%82/"><i class="fa-brands fa-linkedin flati"></i>LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/NileshTelang41"><i class="fa-brands fa-square-twitter flati"></i>Twitter</a>
            <a class="footer-link" href="https://github.com/novafirekt"><i class="fa-brands fa-github flati"></i>Git</a>
            <p class="copyright">© 2022 Nilesh Telang .</p>
        </div>
    </section> -->
