<%- include("partials/header"); -%>

<!-- yo -->

<div class="aboutUs">
  <h2>ABOUT US</h2>
  <p>shvestfehyfj uhfeyfgeuagwkqiuefg lefhuegfeuwyfsju ihwugfeygfeiuedbfdhu iheefeowiefhfhhfgfgfhddbshvddwdvkef efjfeyf gfyefgie fgieugegeufgkefhfigeifuefbekfbefgeiufg gfyefgieevv
    gjhefvefvevffekuvekjfvkeuuuuuuuuuuufkjburblbl
  </p>
</div>

<!-- yo -->

<%- include("partials/footer"); -%>