<%- include("partials/header"); -%>
<!-- yo -->


    <section>
        <img class="buisness-img"src="/assets/qqqqq.jpg" alt="">
        <div class="buisness row">
            <div class="buisness-blocks col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <div>
                        <img src="  /public/assets/home.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">

                        <h2 class="h2 text-decoration-none text-dark">Property Management</h2>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="buisness-blocks col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <div>
                        <img src="  /public/assets/thinking.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h2 class="h2 text-decoration-none text-dark">Strategic Planning</h2>
                        <p class="card-text">
                            Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                        </p>
                    </div>
                </div>
            </div>
            <div class="buisness-blocks col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <div>
                        <img src="  /public/assets/risk.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h2 class="h2 text-decoration-none text-dark">Investment Opportunities</h2>
                        <p class="card-text">
                            Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



<!-- yo -->

<%- include("partials/footer"); -%>
