<%- include("partials/header"); -%>
<!-- yo -->

    <img class="nhr-image" src="/assets/financeimg.jpg" alt="finace">

  <section class="npage-section" id="nabout">
    <div class="ncontainer">
        <div class="ntext-center">
            <h2 class="nsection-heading text-uppercase">Features</h2>
            <h3 class="nsection-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="nfinance">
            <li>
                <div class="nfinance-image"><img class="nrounded-circle img-fluid" src="/assets/advice.png" alt="..." /></div>
                <div class="nfinance-panel">
                    <div class="nfinance-heading">
                        <h4 class="nsubheading">Professional Advice</h4>
                    </div>
                    <div class="nfinance-body"><p class="ntext-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="nfinance-inverted">
                <div class="nfinance-image"><img class="nrounded-circle img-fluid" src="/assets/bank-transfer.png" alt="..." /></div>
                <div class="nfinance-panel">
                    <div class="nfinance-heading">
                        <h4 class="nsubheading">Transperency</h4>
                    </div>
                    <div class="nfinance-body"><p class="ntext-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li>
                <div class="nfinance-image"><img class="nrounded-circle img-fluid" src="/assets/hourglass.png" alt="..." /></div>
                <div class="nfinance-panel">
                    <div class="nfinance-heading">

                        <h4 class="nsubheading">Time Independent</h4>
                    </div>
                    <div class="nfinance-body"><p class="ntext-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="nfinance-inverted">
                <div class="nfinance-image"><img class="nrounded-circle img-fluid" src="/public/assets/great-support.png" alt="..." /></div>
                <div class="nfinance-panel">
                    <div class="nfinance-heading">

                        <h4 class="nsubheading">Great Support</h4>
                    </div>
                    <div class="nfinance-body"><p class="ntext-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
        </ul>
    </div>
</section>






<!-- yo -->
<%- include("partials/footer"); -%>
