<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/index.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <title>invO-RgO</title>
</head>

<body>
<header>
<div class="container">


<div class="logo-container">
    <div class="plogo">

</div>
    <h3 class="logo">Dream<span>Job</span></h3>
</div>


<div class="nav-btn">
<div class="nav-links">

 <ul>
<li class="nav-link" style="--i: .6s"><a href="#">HOME&nbsp;
</a>
 </li>
<li class="nav-link" style="--i: .85s">
 <a href="#">SERVICES&nbsp;<i class="fas fa-caret-down"></i></a>
<div class="dropdown">
<ul> <li class="dropdown-link">
 <a href="/finance">Financial Asistance</a>
</li>
<li class="dropdown-link">
    <a href="/buisness">Buisness Planning</a>
</li>
<li class="dropdown-link">
    <a href="/hr">HR Consultancy</a>

      </li>

    </ul>
</div>
</li>
<li class="nav-link" style="--i: 1.1s">
<a style="font-family: Rubik,sans-serif;" href="#">ABOUT US&nbsp;</a>

<li class="nav-link" style="--i: 1.35s">
<a href="#">CONTACT US&nbsp;</a>
</li>
<li class="nav-link" style="--i: 1.35s">
<a href="/logout">LOG OUT &nbsp;</a>
</li>
</ul>
</div>


</div>
</div>
<hr>
<div class="hamburger-menu-container">
<div class="hamburger-menu">
<div></div>
</div>
</div>
</div>
<div class="search">
  <form action="#">
      <input type="text"
          placeholder="Search Here"
          name="search">
      <button>
          <i class="fa fa-search"
              style="font-size: 18px;">
          </i>
      </button>
  </form>
</div>
</div>

</header>
    <main>
      <div class="pslider">
      <h1 style="font-family: Rubik,sans-serif;font-size: 40px;color: #000;">Fantacy </h1>
      <h1 style="color: #641cd1;
      font-size: 40px;
      font-weight: 700;
      line-height: 1;">Start Up Board</h1><br><br><br><br><br>

       <h3 style="font-family: Rubik,sans-serif;color: #606060;

       font-weight: 400;
       line-height: 1.3;
       margin: 5px 0 10.5px">for founders ,dreamers & entrepreneurs</h3>
      </div>

      <div class="pimg1">
        <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/home-banner-img.webp"height=350 alt="i">
      </div>
      <div class="pimg2">

        <p style="font-size: 16px;font-style: normal;
        font-family: Rubik,sans-serif;-webkit-font-smoothing: antialiased;font-size:larger">Professionals, Advisors, Investors &amp; Mentors</p>
      </div>

      <div class="pimg3">

      <h3 style="color: #1da1f2; font-family: Rubik,sans-serif;
      font-size: 16px;">Get Verified Options</h3>
      </div>

      <div class="pimg4">
        <p>Success</p>
        <p class="pis">is</p><br>
        <p class="pis2">someone</p>
      </div>

      <div class="pimg5">
        <p>giving you a</p><br>
        <p class="pis3"> chance</p>
      </div>

    
      <div class="pmulti">
        <h2>We are <span style="color: rgb(13, 14, 14);">multidimensional</span></h2>
        <p>We are all driven by our own set of experiences and ambitions</p>
        <div class="pmultiimg">
        <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/for-registration-01.webp" height="100" alt="i">
      </div>
      </div>

      <div class="pmulti2">
        <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/page-two-right-banner-img.webp" height="500" alt="i">
      </div>

      <div class="pdiverse">
        <h2>Build your <span class="pblue">d</span><span class="ppurple">i</span><span class="pReddishOrange">v</span><span class="psea">e</span><span class="pYellowishOrange">r</span><span class="pLapisBlue">s</span><span class="paquaGreen">e</span> People Stack</h2>

      </div>

      <div class="pdivimg">
        <p>Surround yourself with amazing people to achieve great things </p>
      </div>
      <div class="pdivimg2">
      <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/people-stock-img.webp"height=250 alt="i">
        </div>

        <div class="ps1">
          <ul class="pslist">
            <li><i class="circlebluecolor"></i>  Connect with professionals</li>
            <li><i class="circleorangeColor"></i>  Network across domains</li>
            <li><i class="circlegreenColor"></i>  Level up</li>
          </ul>
        </div>

        <div class="pblank"></div>

        <div class="dna">
          <img src="/assets/homeee.png"alt="i">
        
        </div>
        
        <ul class="huge">
          <li> Presenting you</li>
          <li style="margin-top:10px; color: #ffa10b;">a fun way to</li>
          <li style="margin-top:10px">validate & pitch your <span style="color:#1da1f2;">startup ideas</span></li>
        </ul>
       
        <div class="huge2">
          <p>Make yours or support others </p>
        </div>
       
        

        <div class="row">
          <a href="#" class="a1">
          <div class="column">
            <img src="/assets/startup-img.png" alt="Snow" style="width:100%">
            </div>
          </a>

          <a href="#" class="a2">
          <div class="column">
            <img src="https://foyr.com/learn/wp-content/uploads/2020/06/how-to-start-an-interior-design-business-scaled.jpg" alt="Forest" style="width:100%">
          </div>
           </a>
           
           <a href="#" class="a3">
          <div class="column">
            <img src="https://klinegroup.com/wp-content/uploads/Fruit-vegetable-blog-banner.jpg" alt="Mountains" style="width:100%">
          </div>
           </a>  
          
        </div>   

        <div  style="margin-left:120px"><span class="s1">Providing computer support and services</span><span style="margin-top:-10px;"class="s12">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Online Platform for Architecture & interior design</span><span class="s13">&emsp;&emsp;&emsp;&emsp;&emsp;Delivering organic veggies from farmers!</span></div>
        
       
        <div class="row1">

          <a href="#" class="a4">
          <div class="column1">
            <img src="https://content.jdmagicbox.com/comp/ahmedabad/z7/079pxx79.xx79.121110163756.b1z7/catalogue/umang-travels-ahmedabad-dxax8j9nak.jpg?clr=" alt="Snow" style="width:100%">
          </div>
        </a>  
          
          
        <a href="#" class="a5">
          <div class="column1">
            <img src="https://im.whatshot.in/img/2020/May/93289157-1897270797077035-667904677664260096-o-my-petrol-pump-cropped-1589195609.jpg" alt="Forest" style="width:100%">
          </div>
        </a> 

        <a href="#" class="a6">
          <div class="column1">
            <img src="https://img.freepik.com/free-photo/marketing-online-strategy-with-drawings_1134-76.jpg?w=2000" alt="Mountains" style="width:100%">
          </div>
        </a> 

          
        </div>  

        <div  style="margin-left:100px"class="s2"> Building best transportation in Self Drive car service.<span>&emsp;&emsp;&emsp;Delivering petrol, diesel,portable ev batteries </span><span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Building a platform for online Marketting</span></div>
        
        <div class="row2">

          <a href="#" class="a7">
          <div class="column2">
            <img src="https://www.zorgers.com/blog/wp-content/uploads/2019/08/ertge-750x381.png" alt="Snow" style="width:100%">
          </div>
        </a> 

        <a href="#" class="a8">
          <div class="column2">
            <img src="https://i0.wp.com/www.naaree.com/wp-content/uploads/2021/05/dabba-service.jpg?ssl=1" alt="Forest" style="width:100%">
          </div>
        </a> 

        <a href="#" class="a9">
          <div class="column2">
            <img src="https://i.insider.com/5df119ddfd9db23f737b5a03?width=1136&format=jpeg" alt="Mountains" style="width:100%">
          </div>
        </a> 
          
        </div>  

        <div  style="margin-left:120px"class="s3">Delivering healthcare treatment at home<span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Homemade food delivered to your doorstep</span><span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Providing a next generation Maps system</span></div>
        
       
       
        <div class="row3">

          <a href="#" class="a10">
          <div class="column3">
            <img src="https://www.thenewleam.com/wp-content/uploads/2019/10/India-child-labour-school-holiday-1.jpg" alt="Snow" style="width:100%">
          </div>
        </a> 

        <a href="#" class="a11">
          <div class="column3">
            <img src="https://whatson.ae/wp-content/uploads/2023/01/Indian-Restaurants-.jpg" alt="Forest" style="width:100%">
          </div>
        </a> 

        <a href="#" class="a12">
          <div class="column3">
            <img src="https://www.rainyfilters.com/static/images/homepage/WebsiteBanner.jpg" alt="Mountains" style="width:100%">
          </div>
        </a> 
          
        </div>  

        <div  style="margin-left:80px"class="s4">Educational startup which will help the underprivileged.<span>&emsp;&emsp;&emsp;Monthly Membership at Restaurant group.</span><span>&emsp;&emsp;&emsp;&emsp;&emsp;Water reclamation systems to maximize rain water</span></div>
        
        


      
      </div>
         <section>


        <section>

            <div class="overlay"></div>
        </section>
    </main>
</body>

</html>

