<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/index.css">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

  <title>invO-RgO</title>
</head>

<body>
  <header>
    <div class="container">


      <div class="logo-container">
        <div class="plogo">

        </div>
        <h3 class="logo">Dream<span>Job</span></h3>
      </div>


      <div class="nav-btn">
        <div class="nav-links">

          <ul>
            <li class="nav-link" style="--i: .6s"><a href="/home">HOME&nbsp;
              </a>
            </li>
            <li class="nav-link" style="--i: .85s">
              <a href="#">SERVICES&nbsp;<i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="/finance">Financial Asistance</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="/buisness">Buisness Planning</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="/hr">HR Consultancy</a>

                  </li>

                </ul>
              </div>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a style="font-family: Rubik,sans-serif;" href="#">ABOUT US&nbsp;</a>

            <li class="nav-link" style="--i: 1.35s">
              <a href="#">CONTACT US&nbsp;</a>
            </li>
            <li class="nav-link" style="--i: 1.35s">
              <a href="/logout">LOG OUT &nbsp;</a>
            </li>
          </ul>
        </div>


      </div>
    </div>
    <hr>
    <div class="hamburger-menu-container">
      <div class="hamburger-menu">
        <div></div>
      </div>
    </div>
    </div>
    <div class="search">
      <form action="#">
        <input type="text" placeholder="Search Here" name="search">
        <button>
          <i class="fa fa-search" style="font-size: 18px;">
          </i>
        </button>
      </form>
    </div>
    </div>

  </header>
  <main>
    <div class="pslider">
      <h1 style="font-family: Rubik,sans-serif;font-size: 40px;color: #000;">Fantacy </h1>
      <h1 style="color: #641cd1;
      font-size: 40px;
      font-weight: 700;
      line-height: 1;">Start Up Board</h1><br><br><br><br><br>

      <h3 style="font-family: Rubik,sans-serif;color: #606060;

       font-weight: 400;
       line-height: 1.3;
       margin: 5px 0 10.5px">for founders ,dreamers & entrepreneurs</h3>
    </div>

    <div class="pimg1">
      <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/home-banner-img.webp" height=350 alt="i">
    </div>
    <div class="pimg2">

      <p style="font-size: 16px;font-style: normal;
        font-family: Rubik,sans-serif;-webkit-font-smoothing: antialiased;font-size:larger">Professionals, Advisors,
        Investors &amp; Mentors</p>
    </div>

    <div class="pimg3">

      <h3 style="color: #1da1f2; font-family: Rubik,sans-serif;
      font-size: 16px;">Get Verified Options</h3>
    </div>

    <div class="pimg4">
      <p>Success</p>
      <p class="pis">is</p><br>
      <p class="pis2">someone</p>
    </div>

    <div class="pimg5">
      <p>giving you a</p><br>
      <p class="pis3"> chance</p>
    </div>


    <div class="pmulti">
      <h2>We are <span style="color: rgb(13, 14, 14);">multidimensional</span></h2>
      <p>We are all driven by our own set of experiences and ambitions</p>
      <div class="pmultiimg">
        <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/for-registration-01.webp" height="100"
          alt="i">
      </div>
    </div>

    <div class="pmulti2">
      <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/page-two-right-banner-img.webp" height="500"
        alt="i">
    </div>

    <div class="pdiverse">
      <h2>Build your <span class="pblue">d</span><span class="ppurple">i</span><span
          class="pReddishOrange">v</span><span class="psea">e</span><span class="pYellowishOrange">r</span><span
          class="pLapisBlue">s</span><span class="paquaGreen">e</span> People Stack</h2>

    </div>

    <div class="pdivimg">
      <p>Surround yourself with amazing people to achieve great things </p>
    </div>
    <div class="pdivimg2">
      <img src="https://d3f7kvfunifc2.cloudfront.net/public/images/newhome/people-stock-img.webp" height=250 alt="i">
    </div>

    <div class="ps1">
      <ul class="pslist">
        <li><i class="circlebluecolor"></i> Connect with professionals</li>
        <li><i class="circleorangeColor"></i> Network across domains</li>
        <li><i class="circlegreenColor"></i> Level up</li>
      </ul>
    </div>

    <div class="pblank"></div>

    <div class="dna">
      <img src="/assets/homeee.png" alt="i">

    </div>

    <ul class="huge">
      <li> Presenting you</li>
      <li style="margin-top:10px; color: #ffa10b;">a fun way to</li>
      <li style="margin-top:10px">validate & pitch your <span style="color:#1da1f2;">startup ideas</span></li>
    </ul>

    <div class="huge2">
      <p>Make yours or support others </p>
    </div>

    <div class="startupContainer">



      <div class="row">
        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img src="/assets/startup-img.png" alt="Snow" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Providing Computer Support and Services</span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img
              src="https://foyr.com/learn/wp-content/uploads/2020/06/how-to-start-an-interior-design-business-scaled.jpg"
              alt="Forest" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Online Platform for
                Interior Design !</span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img src="https://klinegroup.com/wp-content/uploads/Fruit-vegetable-blog-banner.jpg" alt="Mountains"
              style="width:100%">
              <hr class="hrgo">
              <span class="desc">Delivering organic veggies from
                farmers!</span>
            </div>
          </div>
        </a>

      </div>

      <div class="row">
        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img
              src="https://imageio.forbes.com/specials-images/imageserve/5f1127a0b7b73b000781170e/5-Ways-Self-Driving-Cars-Could-Make-Our-World--And-Our-Lives--Better/960x0.jpg?format=jpg&width=960"
              alt="Snow" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Building Best Self Drive Transportation ! </span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img
              src="https://mobisoftinfotech.com/resources/wp-content/uploads/2019/10/on-demand-fuel-delivery-app.png"
              alt="Forest" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Delivering Fuels & EV Batteries !</span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img src="https://img.freepik.com/free-photo/marketing-online-strategy-with-drawings_1134-76.jpg?w=2000"
              alt="Mountains" style="width:100%">
              <hr class="hrgo">
              <span class="desc">Building a platform for online Marketting !</span>
            </div>
          </div>
        </a>

      </div>

      <div class="row">
        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img src="https://www.homeinstead.com/contentassets/41741d8e9a134755a9b66172c49fa220/hi_brand21-lo-0102.jpg" alt="Snow"
              style="width:100%">
              <hr class="hrgo">
              <span class="desc">Delivering Healthcare Treatment At
                Home </span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img src="https://i0.wp.com/www.naaree.com/wp-content/uploads/2021/05/dabba-service.jpg?ssl=1" alt="Forest"
              style="width:100%">
              <hr class="hrgo">
              <span class="desc">Homemade Food At Your
                Doorstep</span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img src="https://i.insider.com/5df119ddfd9db23f737b5a03?width=1136&format=jpeg" alt="Mountains"
              style="width:100%">
              <hr class="hrgo">
              <span class="desc">Providing a Next Gen Map System </span>
            </div>
          </div>
        </a>

      </div>


      <div class="row">
        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img src="https://www.rainyfilters.com/static/images/homepage/WebsiteBanner.jpg" alt="Mountains"
              style="width:100%">
              <hr class="hrgo">
              <span class="desc">Water Reclamation Systems </span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img src="https://whatson.ae/wp-content/uploads/2023/01/Indian-Restaurants-.jpg" alt="Forest"
              style="width:100%">
              <hr class="hrgo">
              <span class="desc">Monthly Membership at Restaurant .</span>
            </div>
          </div>
        </a>

        <a href="#" class="a1">
          <div class="column " >
            <div class="row">
              <img src="https://www.thenewleam.com/wp-content/uploads/2019/10/India-child-labour-school-holiday-1.jpg"
              alt="Snow" style="width:100%">
              <hr class="hrgo">
              <span class="desc"></span> Education StartUp For Underprivileged</span>
            </div>
          </div>
        </a>

      </div>

    <div class="overlay"></div>

    

  </main>

    
<footer class="fsticky">
  <div class="footer-content">
      <h3 style=" font-family: Rubik,sans-serif;font-size:larger">Follow Us</h3><br><br>
      <div class="socials1">
      <ul class="socials">
          <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fa fa-github"> </i> Github</a></li>
          <li><a href=""><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
          <li><a href="#"><i class="fa fa-users"></i> Contributors</a></li>
        </ul>
  </div>
</div>
  <div class="btn"><button class="button">&nbsp;Get In Touch&nbsp;</button></div>


  <div class="all">

  <p class="ele1">&emsp;&emsp;Contact Us</p>

  <div class="ele2" data-id="4" data-element_type="widget" data-widget_type="icon-box.default">
   
    <span class="elementor-icon elementor-animation-">
    
    <a href="#"><i aria-hidden="true" class="fa fa-map-marker"></i></a>
  </span>
    </div>
    <div class="elementor-icon-box-content">
    <h5 class="elementor-icon-box-title">
    <span class="ad">
    Address </span>
    </h5>
    <p class="ele3">
       Wagholi Pune Maharashtra India 412207 </p>
    </div>
   

    <div class="ele4" data-id="0e905c9" data-element_type="widget" data-widget_type="icon-box.default">
     
      <span class="elementor-icon elementor-animation-">
       
      <a href="#"><i aria-hidden="true" class="fas fa-phone-alt"></i></a>
    </span>
      </div>
      <div class="ele5">
      <h5 class="etitle">
      <span class="mob">
      Contact Number </span>
      </h5>
      <p class="ele6">
      +91 7709962755
      </p>
      </div>
      


      <div class="ele7" data-id="d4" data-element_type="widget" data-widget_type="icon-box.default">
        
        <span class="elementor-icon elementor-animation-">
        
        <a href="#"><i aria-hidden="true" class="fas fa-envelope"></i></a>
      </span>
        </div>
        <div class="elementor-icon-box-content">
        <h5 class="ele8">
        <span class="mail">
        Our Email </span>
        </h5>
        <p class="ele9">
        ppathare759@gmail.com </p>
        </div>
       

      </div>
        
  <div class="footer-bottom">
    <p class="copyright">© 2023 Pratiksha Pathare .</p>
  </div>
</footer>

</body>

</html>