<%- include("partials/header"); -%>
<!-- yo -->
<!-- HR  -->

<section class="hr-consultancy">
    <img class="hr-image" src="/public/assets/Hr-consultancy.jpg" alt="">
        <div class="hr-text row">
            <div class="col-lg-4 feature-box">
                <i class="fa-solid fa-bullseye-arrow fa-4x icon flatic flati"></i>
                <h3>Good Approach</h3>
                <p>We have all kinds of startups stocking in here . Have a visit to our Investors  </p>
            </div>
            <div class="col-lg-4 feature-box-m">
                <i class="fa-regular fa-circle-heart fa-4x icon flatic flati"></i>
                <h3>Great Ideas</h3>
                <p>Perfect and suitable INVESTORS to find around </p>
            </div>
            <div class="col-lg-4 feature-box">
                <i class="fa-solid fa-star-sharp-half-stroke flatic flati"></i>
                <h3>Detailed Support</h3>
                <p>Every type of facility is availaible and provided regarding promotions and support </p>
            </div>
        </div>
    </section>
<!-- yo -->
<%- include("partials/footer"); -%>