
/* Pratiksha */


body{
    background: url("");
    background-repeat: no-repeat;
    background-size: cover;
    overflow:scroll;
    background-attachment: fixed;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: Rubik,sans-serif;
    font-size: 16px;
}

header{
    position: sticky;
    top: 0px;
    background-color: white;

    width: 100%;
    z-index: 1000;
    font-size: large;
}

section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('bg.jpg') no-repeat top center / cover;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.plogo{
    margin-left: -190px;
    margin-top: -10px;
}

.nav-btn{
    flex: 3;
    display: flex;
    margin-top: 20px;
    margin-left: -190;
    text-align: center;

}

.nav-links{
    flex: 2;

}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: #1a6679;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
    margin-top: 30px;
    margin-left: 40px;

}

.logo span{
    font-weight: 300;
}





.nav-links > ul{
    display: flex;

}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #12298f;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #faf4f7;
    color: #113a61;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #3c6070;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #0f525e;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}


.dropdown-link{
    position: relative;
}


.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}


@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #FFFFFF;
    }


    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }


    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }



    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }


    .pnav{

        margin-left:100px;
        margin-top: 10px;
    }





}


.search input[type=text]{
    width:200px;
    height:25px;
    border-radius:5px;
    border: none;
}

.search{
    float:right;
    margin-top:-50px;
}

.search button{
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

 .pslider{

    background-color:rgba(238, 236, 234, 0.705);

    border : 10px solid rgb(63, 61, 61);
    height: 450px;
    width:400px;
    margin-left: px;
    margin-top: 550px;
    text-align: center;
    line-height: 50px;
    font-family: arial rounded mt bold;
}

.pimg1{
    margin-top: -920px;
    margin-left: 890px;
    height:100px;
    width:150px;
}

.pimg2{

    margin-top: 250px;
    margin-left: 890px;
}

.pimg3{
    margin-top:10px;
    margin-left: 1000px;
}

.pimg4{
    font-size: 65px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
    color: #1da1f2;
    margin-top: -340px;
    margin-left: 190px;
}

.pis{

    color: black;
    margin-top: -65px;
    margin-left: 275px;

}
.pis2{

    color: black;
    margin-top: -65px;
    margin-left: 10px;

}

.pimg5{
    color: black;
    font-size: 65px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
    margin-left:210px;
    margin-top:0px;

}

.pis3{
    margin-top: -60px;
    margin-left: 40px;
}


.pmulti{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    font-style: normal;
    font-family: Rubik,sans-serif;
    text-align: center;
    margin-top: 300px;
    margin-left: -600px;
}

.pmulti p{

    font-size: 17px;
    font-family: Rubik,sans-serif;
    color: #111111;
    margin-top: 20px;
}

.pmultiimg{
    margin-top: 30px;
    margin-left: -400px;
    font-size: small;
}

.pmulti2{
    margin-left: 860px;
    margin-top:-350px;
}

.pblue{
    color: #1da1f2;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
    
}

.ppurple{
    color: #c47ee8;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
}

.pReddishOrange{
    color: #dd560b;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
}

.psea{
    color: #299199;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
}

.pYellowishOrange{
    color: #ffa10b;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
}

.pLapisBlue{
    color: #0f3b7c;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
}

.paquaGreen{
    color: #1defb8;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
}

.pdiverse{
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
    color: #000;
    margin-top: 150px;
    margin-left: 60px;
}

.pdivimg{
    font-size: 17px;
    color: #606060;
    font-weight: 400;
    line-height: 1.3;
    font-family: Rubik,sans-serif;
    margin-top: 10px;
    margin-left:60px
}

.pdivimg2{
    margin-top: 60px;
    margin-left: 100px;
}

.ps1{
    list-style: none;
    font-style: normal;
    font-family: Rubik,sans-serif;
    font-weight: 400;
    color: #121212;
    font-size: 24px;
    margin-left: 100px;

}

.circlebluecolor{

    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #000;
    font-style: italic;
    font-size: 20px;
    background-color: #0f9cd3;
    width: 14px;
    height: 14px;

}

.circleorangeColor{

    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #000;
    font-style: italic;
    font-size: 20px;
    background-color: #ffa10b;
    width: 14px;
    height: 14px;

}

.circlegreenColor{

    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #000;
    font-style: italic;
    font-size: 20px;
    background-color: #1defb8;
    width: 14px;
    height: 14px;

}

.pslist{

    margin-left: 400px;
    margin-top: -170px;
}

.pblank{

    background-color:rgba(180, 155, 107, 0.493);
    height: 500px;
    width: 480px;
    margin-left: 920px;
    margin-top: -360px;
}



.dna{
    
    margin-left: 1000px;
    margin-top: -390px;
}



.huge{
    
        font-size: 45px;
        font-weight: 700;
        line-height: 1;
        font-style: normal;
        font-family: Rubik,sans-serif;
        color: #121213;
        margin-top: 250px;
        margin-left: 100px
}

.huge2{
    font-size: 17px;
    color: #606060;
    font-weight: 400;
    line-height: 1.3;
    font-family: Rubik,sans-serif;
    margin-top: 15px;
    margin-left:100px
}


  
  body {
    margin: 0;
    font-family: Arial;
    height: 10px;
  }
  
  
  .category img__shadow{
    float: left;
    width: 25%;
    padding: 10px;
  }
  
 
  .column img {
    opacity: 1; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 2;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .container {
    position: relative;
   
  }
  
 
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
 
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

 
  .column {
    float: left;
    width: 400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
    overflow: hidden;
   
  }

  img:hover{
    transform:scale(1.2);
}

.s1:hover{
    transform:scale(1.09);
}

/*.s1:hover, .s1:active {font-size: 130%;} */



  
  /* Clearfix (clear floats) */
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


 

  .column img{
    border-radius: 10px;
    height: 200px;
    
    
  }
  
  .column1 {
    float: left;
    width: 400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
  }
  
  /* Clearfix (clear floats) */
  
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }



  .column1 img{
    border-radius: 10px;
    height: 200px;
    
  }

  .column2 {
    float: left;
    width: 400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
  }
  
  /* Clearfix (clear floats) */
  
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }



  .column2 img{
    border-radius: 10px;
    height: 200px;
    
  }

  .column3 {
    float: left;
    width: 400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
  }
  
  /* Clearfix (clear floats) */
  
  .row3::after {
    content: "";
    clear: both;
    display: table;
  }


 

  .column3 img{
    border-radius: 10px;
    height: 200px;
    
  }

  .startupContainer {
    margin: 10% 10% 10% 10%;
    
  }

  .desc {
    padding:20px;
    color: black;
  }

  .hrgo {
    height: 20px;
    visibility: hidden;
  }


  
.fsticky{
    position: sticky;
    top: 100%;
}
  

 footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #9FC088;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 0px;
    color: #080808;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-weight: 400;
    margin-top : 50px;
    margin-left: 0px;
    font-size: 1.8rem;
    justify-content: center;
    color: #ffffff;
}



.socials{
    list-style: none;
    display: flex;
    align-items: center;
    
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #222121;
}
.socials a i{
    font-size: 2rem;
    letter-spacing: 120px;
    transition: color .4s ease;

}

.socials a:hover i{
    color: #ffffff;
}

.footer-bottom{
    background: #3a3737;
    width: 100vw;
  
    text-align: center;
}



.psec{
    font-size: 27px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
    color: #121213;
    
  
}

.sp1{
    color: #1da1f2;
}
.sp3{
    color: #c47ee8;
}

.sp4{
    color: #dd560b;
}
.sp5{
    color: #1defb8;
}
.sp6{
    color: #ffa10b;
}

.pend{
    
        font-size: 17px;
        color: #606060;
        font-weight: 400;
        line-height: 1.3;
        font-family:cursive;
        margin-top: 60px;
        margin-left:480px
    
}

.copyright{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #FFFFFF;
}



  .button {
    display: inline-block;
   
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #302f2f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }


  .button:hover {background-color: white;
                  color:#000;
}
  
  .socials1{
    margin-top: -50px;
  }

  .socials{
    margin-top: 70px;
  }

  .pbtn{
    margin-top:15px;
    margin-left: 5%;
   
  }
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .footer-content{

    margin-left: -730px;
  }
