
/* Harshal */



/* Pratiksha */


body{
    background: url("");
    background-repeat: no-repeat;
    background-size: cover;
    overflow:scroll;
    background-attachment: fixed;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: Rubik,sans-serif;
    font-size: 16px;
}

header{
    position: sticky;
    top: 0px;
    background-color: white;
   
    width: 100%;
    z-index: 1000;
    font-size: large;
}

section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('bg.jpg') no-repeat top center / cover;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.plogo{
    margin-left: -190px;
    margin-top: -10px;
}

.nav-btn{
    flex: 3;
    display: flex;
    margin-top: 20px;
    margin-left: -190;
    text-align: center;
   
}

.nav-links{
    flex: 2;

}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: #1a6679;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
    margin-top: 30px;
    margin-left: 40px;
    
}

.logo span{
    font-weight: 300;
}





.nav-links > ul{
    display: flex;

}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #12298f;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #faf4f7;
    color: #113a61;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #3c6070;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #0f525e;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}


.dropdown-link{
    position: relative;
}


.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}


@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #FFFFFF;
    }

   
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }


    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

   
   
    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

   
    .pnav{

        margin-left:100px;
        margin-top: 10px;
    }

   
      
     
    
}


.search input[type=text]{
    width:200px;
    height:25px;
    border-radius:5px;
    border: none;
}
     
.search{
    float:right;
    margin-top:-50px;
}
     
.search button{
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

 .pslider{
    
    background-color:rgba(238, 236, 234, 0.705);
    
    border : 10px solid rgb(63, 61, 61);
    height: 450px;
    width:400px;
    margin-left: px;
    margin-top: 550px;
    text-align: center;
    line-height: 50px;
    font-family: arial rounded mt bold;
} 

.pimg1{
    margin-top: -920px;
    margin-left: 890px;
    height:100px;
    width:150px;
}

.pimg2{

    margin-top: 250px;
    margin-left: 890px;
}

.pimg3{
    margin-top:10px;
    margin-left: 1000px;
}

.pimg4{
    font-size: 65px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
    color: #1da1f2;
    margin-top: -340px;
    margin-left: 190px;
}

.pis{

    color: black;
    margin-top: -65px;
    margin-left: 275px;

}
.pis2{

    color: black;
    margin-top: -65px;
    margin-left: 10px;

}

.pimg5{
    color: black;
    font-size: 65px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    font-family: Rubik,sans-serif;
    margin-left:210px;
    margin-top:0px;

}

.pis3{
    margin-top: -60px;
    margin-left: 40px;
}
/* Mandar */